.App {
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

.App-header {
  background-color: #bfc6d5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

div {
  border: 1px red solid;
  margin: 30px;
}

body {
  width: 100%;
  height: 100%;
  margin: 10px;
  padding: 4px;
  background-color: antiquewhite;
  border: 1px blue solid;
  overflow: hidden;
}
.container {
  margin: auto;
  width: 650px;
  vertical-align: middle;
}
.row {
  /* margin-right: 0;
  margin-left: 0; */
  align-content: space-between;
}
.drop {
  position: relative;
  animation-name: drop;
  animation-duration: 0.6s;
}
@keyframes drop {
  0%   {left:0px; top:0px; animation-timing-function: ease-in; }
  100%  {left:200px; top:400px; transform: rotate(40deg);}
}

.dropped {
  position: relative;
  animation-name: dropped;
  animation-duration: 0.6s;
}
@keyframes dropped {
  0%   {left:0px; top:0px; animation-timing-function: ease-in; }
  100%  {left:200px; top:700px; transform: rotate(40deg);}
}
.about {
  position:absolute;
    /* left:0; */
    bottom:0;
}
.a {
  border: 1px green solid;
}
.b {
  margin: auto;
}
.c {
  margin-left: auto;
}
.frying {
  margin-top: 50%;
  width: 200px;
 
}


