.App {
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.logo {
  float: left;
  margin: 3%;
  font-size: 50px;
  color: #efc155;
}

.logo:hover {
  color: #d2970e;

}

.Navbar {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;

}

.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.check:hover input {
  background-color: #ccc;
}

body {
  height: 100%;
  width: 100%
}

.slide-img {
  height: 100vh;
  background-position: center;
}

.henk {
  align-items: flex-start;
  padding-left: 0;
  display: flex;
  margin-top: 35px;
  flex-direction: column;
}

ul.henk li a {
  font-size: 22px;
  font-weight: 700;
  color: #efc155;
}

form {
  display: flex;
  align-items: baseline;
}

.AddingIngredients {
  padding: 140px
}

.ingredient-list {
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  display: grid;
}

.check {
  padding-right: 4px;
}

.ingredient-list form {
  white-space: pre-wrap;
  text-align: left;
  max-width: 100%
}

.card {
  width: 25%;
}

.card li {
  text-align: start;

}

.card-body li a h5 {
  color: #efc155
}

.card-body li a:hover {
  text-decoration-color: #efc155
}

.receta {
  padding-top: 140px
}

.btn {
  margin-left: 10px;
  background-color: #efc155;
}

.checkbox-label {
  margin-left: 4px;
  font-size: larger;
}

.ingredient {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.btn:hover {
  color: white;
  background-color: #d2970e;

}

.input-bar {
  height: 38px;
  ;
}